@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<h2>
    Ошибка
</h2>
<p class="error">
    В результате выполнения запроса
    возникла непредвиденная ситуация. Информация о
    случившемся уже направлена администраторам системы.
    Проблема будет устранена в кратчайшие сроки.
    Приносим вам свои извинения за возможно доставленные неудобства."
</p>
<p>
    С уважением, Администрация
</p>