@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2>What do you want to learn?</h2>
    <p>Online flashcards are a great way to study! Vadalex is your number one online educational resource. We have a wide selection of flashcards for you to study, memorize, test yourself on, and more. Learn a foreign language, practice your multiplication table or prepare for your MCAT by memorizing every bone in the body. Whatever it is you want to learn, Vadalex has you covered. Flashcards are effective because they are founded on the principles of rote and memorization. With Cram.com, you can use our web-based flashcard maker to create your own set. Once you create your online flashcards, you will be able to study, export or even share it with your fellow classmates. You can collaborate perfectly with anyone, anytime. Get cramming today!</p>
    <p>Sign up for access to our powerful flashcard tools today or simply view the free flash cards.</p>
</div>