<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <typeAliases>        
    <typeAlias alias="TodoContext" type="DAL.TodoContext, DAL" />
    <typeAlias alias="IRepository" type="Contracts.DAL.IRepository`1, Contracts" />
    <typeAlias alias="IBusinessLogic" type="Contracts.BLL.IBusinessLogic`1, Contracts" />
    <typeAlias alias="TodoRepository" type="DAL.TodoRepository`1, DAL" />
    <typeAlias alias="TodoBL" type="BusinessLogic.TodoBLL.TodoBL, BusinessLogic" />
    <typeAlias alias="TodoItem" type="Entities.TodoItem, Entities" />
  </typeAliases>
  <container>
    <register type="TodoContext" name="TodoContext">
      <lifetime type="singleton"/>
    </register>
    <register type="IRepository[]" mapTo="TodoRepository[]">
      <constructor>
        <param name="context" dependencyType="TodoContext"></param>
      </constructor>
    </register>
    <register type="IBusinessLogic[TodoItem]" mapTo="TodoBL">      
      <constructor>
        <param name="repository" dependencyType="IRepository[TodoItem]"></param>
      </constructor>
    </register>
  </container>
</unity>