
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Images/dashboard.png">    
    <title>Dashboard</title>    
</head>
<body>
    <div> 
        @Html.Partial("~/Views/Shared/Dashboard.cshtml")        
    </div>
</body>
</html>
