@{
    ViewBag.Title = "ConfirmationSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Confirmation Success</h2>
    <p><h3>You are confirmed and can now log into the system</h3></p>
</div>
